/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/*.jumbotron p, h1, h2 {
	color: #5cb85c;
}*/

/*.jumbotron h1 {
	color: #FFA700;
}

.jumbotron h2 {
	color: #FFA700;
}

.jumbotron h5 {
	color: #FFA700;
}*/

/*.jumbotron h1 {
	color: #5cb85c;
}

.jumbotron h2 {
	color: #5cb85c;
}

.jumbotron h5 {
	color: #5cb85c;
}*/

.jumbotron h1 {
	color: #FFFFFF;
}

.jumbotron h2 {
	color: #FFFFFF;
}

.jumbotron h5 {
	color: #FFFFFF;
}

