.sponsor {
	padding-top: 20px;
	padding-bottom: 20px;
}

.sponsor-image {
	height: 50px;
}

.featurette-image {
	width: 300px;
}

.thumbnail>img {
	padding-top: 20px;
}

.speaker-name {
	color: #c7521b;
/*	font-size: 1.5em;*/
	/*font-weight: 300;*/
	font-weight: bold;
}

.award-img {
	height: 40px;
}

.team-image {
	height: 50px;
}

.team-names {
/*	color: #c7521b;*/
}

.award-name {

}

.award-desc {
	font-style: italic;
	font-size: 80%;
}

.haiku {
/*	font-family: 'Brush Script MT';*/
/*	font-family: 'Papyrus';*/
	font-style: italic;
}